.smartphoto-header {
  top: 50px!important;
}
.progressjs-container {
  z-index: 10000000000000000!important;
}
.progressjs-inner{
  height: 5px !important;
  background-color: deeppink !important;
  /*
  background-color:  !important;
  */
}
button:active, .button:active {
  opacity: 0.3 !important;
}
/*
@font-face {
  font-family:"TitilliumWeb"!important;
  src: url("/TitilliumWeb-Bold.ttf") format("truetype")!important;
}
*/
/* Full List of colors used:

*/


a.mention {
  color: dodgerblue!important;
}

body {
  color: rgba(255,0,255,0.8)!important;
}

nav {
  background: rgba(255,255,255,0.7)!important;
}

nav input {
  font-size: 16px!important;
}

nav a {
  text-decoration: none!important;
  color: #f71991!important;
}

.flexible {
  flex-grow: 1!important;
}
.flex {
  display: flex!important;
}
.gutter {
  background: rgba(255,0,255,0.05)!important;
}
button, .button {
  border: 1px solid rgba(255,0,255,0.5)!important;
  background: white!important;
  color: rgba(255,0,255,0.7)!important;
}
.new.badge {
  background: red !important;
  color: white!important;
}
.badge {
  background: red!important;
  color: white!important;
}
.resp-sharing-button__link {
  text-decoration: none!important;
  color: #fff!important;
}
/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff!important;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff!important;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--dit {
  background-color: #5f99cf
}

.resp-sharing-button--dit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998!important;
  border-color: #3b5998!important;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373!important;
  border-color: #2d4373!important;
}

.resp-sharing-button--twitter {
  background-color: #55acee!important;
  border-color: #55acee!important;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9!important;
  border-color: #2795e9!important;
}

.resp-sharing-button--email {
  background-color: #777777!important;
  border-color: #777777!important;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e!important;
  border-color: #5e5e5e!important;
}

.resp-sharing-button--dit {
  background-color: rgb(236, 84, 40)!important;
  border-color: #5f99cf!important;
}

.resp-sharing-button--dit:hover,
.resp-sharing-button--dit:active {
  background-color: rgb(236, 84,40)!important;
  opacity: 0.8!important;
  border-color: #3a80c1!important;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366!important;
  border-color: #25D366!important;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851!important;
  border-color: #1DA851!important;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB!important;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1!important;}

.resp-sharing-button--weibo {
  background-color: rgb(217,54,55)!important;
}

.resp-sharing-button {
  color: white!important;
}

form.search input[type=text] {
  border: 1px solid rgba(255,0,255,0.2)!important;
}
.tribute-container li.highlight {
  background: rgba(255,0,255,0.08)!important;
}
.tribute-container {
  border: 1px solid rgba(255,0,255,0.1)!important;
}
.tribute-container .description {
  color: rgba(255,0,255,0.7)!important;
}
.wallet-mode {
  background: rgba(255,0,255,0.8)!important;
  color: white!important;
}
.wallet-mode a {
  color: white!important;
}

.algolia-autocomplete .aa-dropdown-menu {
  max-width: 500px!important;
  box-sizing: border-box!important;
  width: 100%!important;
  background-color: #fff!important;
  border: 1px solid palevioletred!important;
  border-top: none!important;
}
.algolia-autocomplete .aa-hint {
  color: palevioletred!important;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: lightpink!important;
}

.b {
  background: rgba(255,0,255,0.1)!important;
}
.swal2-content {
  text-align: left !important;
}
.content {
  color: rgba(255,0,255,0.8)!important;
  white-space: pre-wrap!important;
}
a {
  color: rgba(255,0,255,0.8)!important;
}
.username {
  text-decoration: none!important;
  /*
  color: deeppink !important;
  */
  color: #f71991 !important;
  opacity: 0.7 !important;
  font-weight: bold!important;
}
body > div.container > div.info > a {
  text-decoration: none!important;
  color: deeppink !important;
  opacity: 0.7 !important;
}

.field {
  border: 1px solid rgba(255,0,255,0.2)!important;
}

#sub {
  background: hotpink!important;
  color: white!important;
  border: 1px solid hotpink!important;
/*
  color: hotpink!important;
  border: 1px solid hotpink!important;
  */
  cursor: pointer!important;
}
.selected {
  background: deeppink!important;
  border: 1px solid deeppink!important;
  color: white!important;
}
.right {
  color: violet!important;
}
.post a {
  color: violet!important;
}
.preview {
  border: 1px solid rgba(255,0,255,0.1)!important;
}

.post_link .title {
  color: rgba(255,0,255,0.8)!important;
}

a.card {
  text-decoration: none!important;
  display: block!important;
}
.form {
  background: rgba(255,0,255,0.06)!important;
}
.comment-form textarea:focus, input.tip-button.button:focus, textarea:focus, button.submit:focus, #del:focus {
    outline: none!important;
    box-shadow: 0 0 3px deeppink!important;
}
.comment-form textarea {
  border: 1px solid rgba(255,0,255,0.3)!important;
}
.card-footer {
  color: rgba(255,0,255,0.8)!important;
}
.uploaded-file {
  background: rgba(255,0,255,0.05)!important;
}
.filter-item.select {
  border-bottom: 3px solid rgba(255,0,255,0.6)!important;
}
@media only screen and (max-width: 400px) {
  .filter-item {
    width: 50px!important;
    font-size: 12px!important;
  }
}
.new-noti {
  background: red !important;
  color: white!important;
}
.help {
  background: #ffebf6!important;
  border: 1px solid rgba(255,0,255,0.06)!important;
}
.help a {
  font-weight: bold!important;
}
.top-share {
  border: 1px solid rgba(255,0,255,0.1)!important;
}
.info {
  background: rgba(255,0,255,0.05)!important;
  color: rgba(255,0,255,0.6)!important;
}
.upload-file, .upload-image {
  border: 3px solid hotpink!important;
}
.page-title {
  text-align: left!important;
}
#submit {
  border: 1px solid rgba(255,0,255,0.3)!important;
  color: rgba(255,0,255,0.6)!important;
}
.sorter .selector {
  cursor: pointer!important;
  border: 1px solid rgba(255,0,255,0.3)!important;
  border-radius: 2px!important;
}
.sorter-options > *.selection {
  font-weight: bold!important;
}
.sorter-options > * {
  background: rgba(255,0,255,0.03)!important;
}
.sort-tab .selector {
  border-bottom: 3px solid white!important;
}
.sort-tab .selector.selection {
  border-bottom: 3px solid rgba(255,0,255,0.8)!important;
}
.announcement {
  background: #ffebf6!important;
}

.post-item {
  border-bottom: 1px solid rgba(255,0,255,0.06)!important;
}
.channel_header {
  background: ghostwhite!important;
  color: hotpink !important;
  }
.channels-ticker a {
  color: hotpink!important;
}
.channel-ticker {
  background: ghostwhite!important;
  border: 1px solid rgba(255,0,255,0.06)!important;
}
.content {
  color: rgba(255,0,255,0.8)!important;
}
a {
  color: rgba(255,0,255,0.8)!important;
}
.field {
  border: 1px solid rgba(255,0,255,0.2)!important;
}

.post {
  border-bottom: 1px solid rgba(255,0,255,0.06)!important;
}
.highlight {
  border: 2px solid #FF1493!important;
}
.highlight .button {
  background: #FF1493!important;
  color: white!important;
}
#sub {
  background: hotpink!important;
  color: white!important;
  border: 1px solid hotpink!important;
/*
  color: hotpink!important;
  border: 1px solid hotpink!important;
  */
  cursor: pointer!important;
}
.selected {
  background: silver!important;
  border: 1px solid silver!important;
  color: white!important;
}
.right {
  color: violet!important;
}
.post a {
  color: violet!important;
}
.post_link .title {
  color: rgba(255,0,255,0.8)!important;
}

a.card {
  text-decoration: none!important;
  display: block!important;
}
.form {
  background: rgba(255,0,255,0.06)!important;
}
.comment-form {
  background: rgba(255,0,255,0.1)!important;
}
.card-footer {
  color: rgba(255,0,255,0.8)!important;
}
.comment-button {
  cursor: pointer!important;
}
.uploaded-file {
  background: rgba(255,0,255,0.05)!important;
}

.filter-item.select {
  border-bottom: 3px solid rgba(255,0,255,0.6)!important;
}
.new-noti {
  background: !important;
  color: white!important;
}
.help {
  background: #ffebf6!important;
}
.help a {
  font-weight: bold!important;
}
.row {
  color: #f71991!important;
  border-top: 1px solid rgba(255,0,255,0.07)!important;
}
.row:hover .username {
  text-decoration: underline!important;
}
.row:hover .username {
  text-decoration: underline!important;
}
.username {
  font-weight: bold!important;
  font-size: 20px!important;
  display: block!important;
}
.info {
  color: rgba(255,0,255,0.8)!important;
}
.description {
  font-weight: normal!important;
  color: rgba(255,0,255,0.8)!important;
  font-size: 16px!important;
}

.url {
  color: rgba(255,0,255,0.5)!important;
  font-size: 16px!important;
}
.follow {
  background: hotpink!important;
  color: white!important;
}
.unfollow {
/*
  background: silver!important;
  color: white!important;
  */
  color: rgba(255,0,255,0.8)!important;

}
.button.disable {
  font-weight: bold!important;
}
.sort-item {
  border-bottom: 3px solid white!important;
}
.sort.top .sort-item.top {
  border-bottom: 5px solid #f71991!important;
}
.sort.new .sort-item.new {
  border-bottom: 5px solid #f71991!important;
}
.sort.active .sort-item.active {
  border-bottom: 5px solid #f71991!important;
}
.explanation {
  background: rgba(255,0,255,0.05)!important;
  color: rgba(255,0,255,0.6)!important;
}
form.user-search {
  background: rgba(255,0,255,0.04)!important;
}
form.user-search input[type=text] {
  border: 1px solid rgba(255,0,255,0.2)!important;
}
.explanation a {
  color: deeppink!important;
  opacity: 0.7!important;
  text-decoration: none!important;
}
.explain h2 {
    color: rgba(255, 0, 255, 0.8)!important;
    border-left: 10px solid rgba(255, 0, 255, 0.8)!important;
}
#you {
  background: violet!important;
  border: none!important;
  outline:none!important;
}
.dropdown-item, i.fas.fa-user-circle {
    color: rgb(247, 25, 145)!important;
}
.dropdown-item:hover{
  cursor: pointer!important;
}

div.tiptip-bar > .button, div > div.comment-tips > div.amount-tip-row > div.tip-row-buttons > .button , body > div.container > div.body > div.comments > div.amount-tip-row.top > div.tip-row-buttons > .button {
    color:rgba(255, 0, 255, 0.7)!important;
    border:rgba(255, 0, 255, 0.7) 1px solid !important;
}
.row .info {
    background:none!important;
}
a.mention {
  color:rgba(255, 0, 255, 0.8)!important;
}
.comment.amount {
  background: #ffebf6!important;
}
.statusbar {
  background: #ffebf6!important;
  border: 1px solid deeppink!important;
}
.swal2-modal * {
  color:deeppink!important;
}
.comment-tip-form {
  background: rgba(255,0,255,0.1)!important;
}
i.fas.fa-check {
    color:deeppink!important;
}
.quote.prewrap {
  color:violet!important;
}
.progressjs-inner{width:0}.progressjs-progress{z-index:9999999}.progressjs-theme-blue .progressjs-inner{height:2px;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;background-color:deeppink!important;}.progressjs-theme-blue.progressjs-end{-webkit-transition:opacity .2s ease-out;-moz-transition:opacity .2s ease-out;-o-transition:opacity .2s ease-out;transition:opacity .2s ease-out;opacity:0}.progressjs-theme-blue .progressjs-percent{display:none}.progressjs-theme-blueOverlay{background-color:white;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.progressjs-theme-blueOverlay .progressjs-inner{height:100%;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;background-color:deeppink!important;}.progressjs-theme-blueOverlay.progressjs-end{opacity:0!important}.progressjs-theme-blueOverlay .progressjs-percent{display:none}.progressjs-theme-blueOverlay{background-color:white;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.progressjs-theme-blueOverlay .progressjs-inner{height:100%;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;background-color:deeppink!important;}.progressjs-theme-blueOverlay.progressjs-end{opacity:0!important}.progressjs-theme-blueOverlay .progressjs-percent{display:none}.progressjs-theme-blueOverlayRadius{background-color:white;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;border-radius:5px}.progressjs-theme-blueOverlayRadius .progressjs-inner{height:100%;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;background-color:deeppink!important;border-radius:5px}.progressjs-theme-blueOverlayRadius.progressjs-end{opacity:0!important}.progressjs-theme-blueOverlayRadius .progressjs-percent{display:none}.progressjs-theme-blueOverlayRadiusHalfOpacity{background-color:white;opacity:.5;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;border-radius:5px}.progressjs-theme-blueOverlayRadiusHalfOpacity .progressjs-inner{height:100%;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;background-color:deeppink!important;border-radius:5px}.progressjs-theme-blueOverlayRadiusHalfOpacity.progressjs-end{opacity:0!important}.progressjs-theme-blueOverlayRadiusHalfOpacity .progressjs-percent{display:none}.progressjs-theme-blueOverlayRadiusWithPercentBar{background-color:white;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;border-radius:5px}.progressjs-theme-blueOverlayRadiusWithPercentBar .progressjs-inner{height:100%;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;background-color:deeppink!important;border-radius:5px}.progressjs-theme-blueOverlayRadiusWithPercentBar.progressjs-end{opacity:0!important}.progressjs-theme-blueOverlayRadiusWithPercentBar .progressjs-percent{width:70px;text-align:center;height:40px;position:absolute;right:50%;margin-right:-35px;top:50%;margin-top:-20px;font-size:30px;opacity:.5}.progressjs-theme-blackRadiusInputs{height:10px;border-radius:10px;overflow:hidden}.progressjs-theme-blackRadiusInputs .progressjs-inner{height:2px;-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;background-color:#34495e}.progressjs-theme-blackRadiusInputs.progressjs-end{-webkit-transition:opacity .2s ease-out;-moz-transition:opacity .2s ease-out;-o-transition:opacity .2s ease-out;transition:opacity .2s ease-out;opacity:0}.progressjs-theme-blackRadiusInputs .progressjs-percent{display:none}
